<div class="slider">
	<input checked type="radio" name="slider" class="slider-radio" id="slide1" selected="false">
	<input type="radio" name="slider" class="slider-radio" id="slide2" selected="false">
	<input type="radio" name="slider" class="slider-radio" id="slide3" selected="false">
	<input type="radio" name="slider" class="slider-radio" id="slide4" selected="false">
	<input type="radio" name="slider" class="slider-radio" id="slide5" selected="false">
	<input type="radio" name="slider" class="slider-radio" id="slide6" selected="false">
	<input type="radio" name="slider" class="slider-radio" id="slide7" selected="false">
	<input type="radio" name="slider" class="slider-radio" id="slide8" selected="false">
	<input type="radio" name="slider" class="slider-radio" id="slide9" selected="false">
	<input type="radio" name="slider" class="slider-radio" id="slide10" selected="false">
	<div class="slider-inner">
		<article class="slider-article">
			<img src="img/1.jpg" alt="">
		</article>
		<article class="slider-article">
			<img src="img/2.jpg" alt="">
		</article>
		<article class="slider-article">
			<img src="img/3.jpg" alt="">
		</article>
		<article class="slider-article">
			<img src="img/4.jpg" alt="">
		</article>
		<article class="slider-article">
			<img src="img/5.jpg" alt="">
		</article>
		<article class="slider-article">
			<img src="img/6.jpg" alt="">
		</article>
		<article class="slider-article">
			<img src="img/7.jpg" alt="">
		</article>
		<article class="slider-article">
			<img src="img/8.jpg" alt="">
		</article>
		<article class="slider-article">
			<img src="img/9.jpg" alt="">
		</article>
		<article class="slider-article">
			<img src="img/10.jpg" alt="">
		</article>
	</div>
	<div class="slider-dots">
		<label class="slider-label" for="slide1"></label>
		<label class="slider-label" for="slide2"></label>
		<label class="slider-label" for="slide3"></label>
		<label class="slider-label" for="slide4"></label>
		<label class="slider-label" for="slide5"></label>
		<label class="slider-label" for="slide6"></label>
		<label class="slider-label" for="slide7"></label>
		<label class="slider-label" for="slide8"></label>
		<label class="slider-label" for="slide9"></label>
		<label class="slider-label" for="slide10"></label>
	</div>
</div>